/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

#root {
  display: flex;
}

#root > main {
  flex: 1;
  padding: 1rem;
  height: 100vh;
  background-color: #f2f2f2;
  border-top-left-radius: 1rem;
  overflow-y: scroll;
}
#root > aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2.pane-header {
  margin: 0 0 1rem 0;
}

.space-content {
  display: flex;
  justify-content: space-between;
}

/* Login Page */
main.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://notes.xinhua-news.cn/photos/images/background.svg);
}

main.login-page section.login {
  margin: 0 auto;
  padding: 2rem;
  width: 360px;
}
